extends ../layout.jade

block content
    div.row
        input(type='search' name='cardSearch' id='searchText')
        Search
            input(type='button' value='Search' onclick='cardFind')

    div.row
        form
            label White
                input(type='checkbox', name='white', value='white', checked=false)
            label Blue
                input(type='checkbox', name='blue', value='blue', checked=false)
            label Red
                input(type='checkbox', name='red', value='red', checked=false)
            label Green
                input(type='checkbox', name='green', value='green', checked=false)
            label Black
                input(type='checkbox', name='black', value='black', checked=false)
            label Colorless
                input(type='checkbox', name='colorless', value='colorless', checked=false)
            
