extends ../layout.jade

block content
    div.row
        input(type='search' name='cardSearch' id='searchText')
        Search
            input(type='button' value='Search' onclick='cardSearch()')

    div.row
        form
            label White
                input(type='checkbox', name='color', value='white', checked=false)
            label Blue
                input(type='checkbox', name='color', value='blue', checked=false)
            label Red
                input(type='checkbox', name='color', value='red', checked=false)
            label Green
                input(type='checkbox', name='color', value='green', checked=false)
            label Black
                input(type='checkbox', name='color', value='black', checked=false)
            label Colorless
                input(type='checkbox', name='color', value='colorless', checked=false)
            
